@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");
@import url("./icons.css");
.t1 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
}

.t2, .tab .tab-container .date {
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
}

.m20 {
  margin-top: 20px;
}

.m40 {
  margin-top: 40px;
}

.m80 {
  margin-top: 80px;
}

.line {
  margin-top: 20px;
  margin-left: 20px;
  overflow: hidden;
  height: 70px;
}

.line .top {
  width: 1px;
  height: 70px;
  background-color: #fff;
  opacity: 0.1;
}

.line .bottom {
  width: 1px;
  height: 20px;
  background-color: #fff;
}

.logo {
  width: 32px;
  height: 33px;
  background: url(../fonts/logo.svg);
  background-size: 32px 33px;
  z-index: 100;
  position: fixed;
  top: 40px;
  left: 40px;
}

.bar {
  background-color: #121217;
  position: fixed;
  top: 20px;
  z-index: 90;
  left: 20px;
  width: 32px;
  height: 33px;
  padding: 20px;
  border-radius: 100px;
}

html {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.2px;
  color: #fff;
  background-color: #121217;
  font-weight: 300;
  font-size: 18px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  cursor: url("../img/cursor.svg"), auto;
}

html::-webkit-scrollbar {
  display: none;
}

a {
  all: unset;
}

.mail {
  margin-top: 40px;
}

.landing {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.landing .container {
  width: 100%;
  margin-left: 30px;
  margin-bottom: 40px;
  margin-right: 30px;
}

.landing .container .header .headline {
  font-weight: 400;
  margin-top: 5px;
}

.landing .container .header .c {
  overflow: hidden;
}

.landing .container .header .text {
  font-size: 16px;
  opacity: 0.3;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing .container .header .text .words {
  margin-left: 5px;
}

.landing .container .git {
  margin-top: 40px;
  width: 1fr;
  color: #0d86f8;
  font-size: 16px;
  cursor: url("../img/hover.svg"), auto;
}

.landing .container .socials {
  margin-top: 20vh;
  font-size: 14px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 100px;
      grid-template-columns: 1fr 40px 100px;
}

.landing .container .socials .link-container {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: url("../img/hover.svg"), auto;
}

.landing .container .socials .link-container .link {
  opacity: 0.3;
}

.landing .container .socials .link-container .icon {
  font-size: 0.6rem;
  margin-top: 2px;
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 100vh;
}

.about .container {
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
}

.about .container .list {
  max-width: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 1fr;
      grid-template-columns: 1.2fr 1fr;
}

.works {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.works .container {
  margin-top: 40px;
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
}

.works .container .tabs-container {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.works .container .tabs-container .tab-code, .works .container .tabs-container .tab-design, .works .container .tabs-container .tab-sandbox {
  border-bottom: solid 1px #fff;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  opacity: 0.1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: url("../img/hover.svg"), auto;
}

.works .container .tabs-container .active {
  border-color: #0d86f8;
  opacity: 1;
  color: #0d86f8;
}

.works .container .code-container, .works .container .design-container, .works .container .sandbox-container {
  margin-top: 20px;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.tab .tab-container {
  width: 100%;
  margin-top: 40px;
}

.tab .tab-container .title {
  font-weight: 400;
  font-size: 18px;
}

.tab .tab-container .title .link {
  color: #0d86f8;
  font-weight: 400;
  margin-left: 10px;
  cursor: url("../img/hover.svg"), auto;
}

.tab .tab-container .date {
  opacity: 0.3;
}

.tab .tab-container .preview {
  width: 100%;
  margin-top: 20px;
  cursor: url("../img/hover.svg"), auto;
  border-radius: 10px;
}

.tab .tab-container .previews {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: 10px;
}

.tab .tab-container .previews .thumb-left, .tab .tab-container .previews .thumb-right {
  width: 50%;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid #121217;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0.3;
}

.tab .tab-container .previews .thumb-right {
  -ms-grid-column-align: start;
      justify-self: start;
}

.tab .tab-container .previews .active {
  border-color: #0d86f8;
  opacity: 1;
}

.tab .tab-container .tags {
  margin-top: 40px;
  opacity: 0.3;
  font-weight: 300;
  font-size: 14px;
}

.tab .tab-container .socials {
  margin-top: 20px;
  font-size: 18px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 1fr;
      grid-template-columns: 0.5fr 1fr;
}

.tab .tab-container .socials .link-container {
  justify-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: url("../img/hover.svg"), auto;
}

.tab .tab-container .socials .link-container .goto {
  opacity: 1;
}

.tab .tab-container .socials .link-container .icon {
  font-size: 0.6rem;
  margin-top: 2px;
}

.tab .tab-container .divider {
  height: 1px;
  background-color: #fff;
  opacity: 0.1;
  width: 100%;
  margin-top: 40px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121217;
  z-index: 100;
}

.modal .previews {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: 10px;
}

.modal .previews .thumb-left, .modal .tab .tab-container .previews .thumb-right, .tab .tab-container .modal .previews .thumb-right, .modal .previews .thumb-right {
  width: 50%;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid #121217;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0.3;
}

.modal .previews .thumb-right {
  -ms-grid-column-align: start;
      justify-self: start;
}

.modal .previews .active {
  border-color: #0d86f8;
  opacity: 1;
}

.modal .close-btn {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 40px;
  cursor: url("../img/hover.svg"), auto;
}

.modal .close-btn .icon {
  font-size: 0.8rem;
}

.modal .hollow {
  height: 100%;
  margin-top: 40px;
}

.modal .modal-container .t1 {
  margin-left: 30px;
  margin-right: 30px;
}

.modal .modal-container .t2, .modal .modal-container .tab .tab-container .date, .tab .tab-container .modal .modal-container .date {
  margin-left: 30px;
  margin-right: 30px;
}

.modal .modal-container .preview {
  width: 100vw;
  margin-top: 20px;
}

.modal .modal-container .socials {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 18px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 1fr;
      grid-template-columns: 0.5fr 1fr;
}

.modal .modal-container .socials .link-container {
  justify-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: url("../img/hover.svg"), auto;
}

.modal .modal-container .socials .link-container .goto {
  opacity: 1;
}

.modal .modal-container .socials .link-container .icon {
  font-size: 0.6rem;
  margin-top: 2px;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .container {
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "left right" "bottom bottom";
}

.footer .container .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  cursor: url("../img/hover.svg"), auto;
}

.footer .container .social-icon .github {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  width: 20px;
  height: 20px;
  background: url("../img/github.svg");
  background-size: 20px 20px;
}

.footer .container .social-icon .linkedin {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  width: 20px;
  height: 20px;
  background: url("../img/linkedin.svg");
  background-size: 20px 20px;
}

.footer .container .social-icon .t {
  margin-left: 10px;
  font-weight: 300;
  font-size: 18px;
}

.footer .container .copyright {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: bottom;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 40px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  opacity: 0.3;
}

@media (min-width: 500px) {
  html {
    max-width: 500px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */