@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");
@import url("./icons.css");
// colors
$bg: hsl(240, 12%, 8%);
$main: #fff;
$second: #0d86f8;

.t1 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
}

.t2 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
  line-height: 1.5;
}

.m0 {
  margin-top: 0;
}

.m20 {
  margin-top: 20px;
}

.m40 {
  margin-top: 40px;
}

.m80 {
  margin-top: 80px;
}

.line {
  margin-top: 20px;
  margin-left: 20px;
  overflow: hidden;
  height: 90px;

  .top {
    width: 1px;
    height: 90px;
    background-color: $main;
    opacity: 0.1;
  }

  .bottom {
    width: 1px;
    height: 20px;
    background-color: $main;
  }
}

.logo {
  width: 32px;
  height: 33px;
  background: url(../fonts/logo.svg);
  background-size: 32px 33px;
  z-index: 100;
  position: fixed;
  top: 40px;
  left: 40px;
}

.bar {
  background-color: $bg;
  position: fixed;
  top: 20px;
  z-index: 90;
  left: 20px;
  width: 32px;
  height: 33px;
  padding: 20px;
  border-radius: 100px;

  .socials {
    display: none;
  }
}

html {
  font-family: "Inter", sans-serif;
  color: $main;
  background-color: $bg;
  font-weight: 300;
  font-size: 18px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  cursor: url("../img/cursor.svg"), auto;
  max-width: 600px;
  margin: 0 auto;
  letter-spacing: 0.3px;
}

html::-webkit-scrollbar {
  display: none;
}

a {
  all: unset;
}

.mail {
  margin-top: 40px;
}

.landing {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;

  .container {
    width: 100%;
    margin-left: 30px;
    padding-bottom: 80px;
    margin-right: 30px;

    .header {
      .headline {
        font-weight: 400;
        margin-top: 5px;
      }

      .c {
        overflow: hidden;
      }

      .text {
        font-size: 16px;
        opacity: 0.3;
        margin-top: 10px;
        display: flex;
      }
    }

    .git {
      margin-top: 40px;
      width: 1fr;
      color: $second;
      font-size: 18px;
      cursor: url("../img/hover.svg"), auto;
    }

    .socials {
      margin-top: 20vh;
      font-size: 14px;
      display: grid;
      grid-template-columns: 1fr 40px 100px;

      .link-container {
        justify-self: end;
        display: flex;
        align-items: center;
        cursor: url("../img/hover.svg"), auto;

        .link {
          opacity: 0.3;
        }

        .icon {
          font-size: 0.6rem;
          margin-top: 2px;
        }
      }
    }
  }
}

.about {
  width: 100%;
  display: flex;
  height: 800px;
 // min-height: 100vh;
  align-items: center;

  .container {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;

    .list {
      max-width: 600px;
      display: grid;
      grid-template-columns: 1.2fr 1fr;
    }
  }
}

.works {
  width: 100%;
  display: flex;
  min-height: 100vh;
  height: 100%;

  .container {
    margin-top: 40px;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;

    .columns {
      .left {
        .tabs-container {
          display: grid;
          margin-top: 40px;
          grid-template-columns: 1fr 1fr 1fr;
          font-size: 14px;

          .tab-code {
            border-bottom: solid 1px $main;
            justify-self: center;
            width: 100%;
            text-align: center;
            padding-bottom: 10px;
            opacity: 0.3;
            transition: 0.3s ease-in-out;
            cursor: url("../img/hover.svg"), auto;
          }

          .tab-design {
            @extend .tab-code;
          }

          .tab-sandbox {
            @extend .tab-code;
          }

          .active {
            border-color: $second;
            opacity: 1;
            color: $second;
          }
        }
      }

      .right {
        .code-container {
          opacity: 1;
        }

        .design-container {
          @extend .code-container;
        }

        .sandbox-container {
          @extend .code-container;
        }
      }
    }
  }
}

.tab {
  display: flex;
  width: 100%;

  .tab-container {
    width: 100%;
    margin-top: 40px;

    .title {
      font-weight: 400;
      font-size: 18px;

      .link {
        color: $second;
        font-weight: 400;
        margin-left: 10px;
        cursor: url("../img/hover.svg"), auto;
      }
    }

    .date {
      @extend .t2;
      opacity: 0.3;
    }

    .preview {
      width: 100%;
      margin-top: 20px;
      cursor: url("../img/hover.svg"), auto;
      border-radius: 10px;
    }

    .previews {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      margin-top: 10px;

      .thumb-left {
        width: 50%;
        justify-self: end;
        margin-right: 10px;
        border-radius: 10px;
        border: 1px solid $bg;
        transition: 0.3s ease-in-out;
        opacity: 0.3;
      }

      .thumb-right {
        @extend .thumb-left;
        justify-self: start;
      }

      .active {
        border-color: $second;
        opacity: 1;
      }
    }

    .tags {
      margin-top: 40px;
      opacity: 0.3;
      font-weight: 300;
      font-size: 14px;
    }

    .socials {
      margin-top: 20px;
      font-size: 18px;
      display: grid;
      grid-template-columns: 0.5fr 1fr;

      .link-container {
        justify-self: start;
        display: flex;
        align-items: center;
        cursor: url("../img/hover.svg"), auto;

        .goto {
          opacity: 1;
        }

        .icon {
          font-size: 0.6rem;
          margin-top: 2px;
        }
      }
    }

    .divider {
      height: 1px;
      background-color: #393939;
      opacity: 1;
      width: 100%;
      margin-top: 40px;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg;
  z-index: 100;
  overflow: auto;

  .close-btn {
    padding-top: 40px;
    margin-bottom: 20px;
    font-weight: 400;
    cursor: url("../img/hover.svg"), auto;
    text-align: end;
  }

  .hollow {
    height: 20vh;
    margin-top: 40px;
  }

  .modal-container {
    .t1 {
      margin-left: 30px;
      margin-top: 0px;
      margin-right: 30px;
    }

    .t2 {
      margin-left: 30px;
      margin-right: 30px;
    }

    .link {
      color: #0d86f8;
      margin-left: 10px;
    }

    .preview {
      width: 100vw;
      margin-top: 20px;
    }

    .previews {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      margin-top: 10px;

      .thumb-left {
        width: 50%;
        justify-self: end;
        margin-right: 10px;
        border-radius: 10px;
        border: 1px solid $bg;
        transition: 0.3s ease-in-out;
        opacity: 0.3;
      }

      .thumb-right {
        @extend .thumb-left;
        justify-self: start;
      }

      .active {
        border-color: $second;
        opacity: 1;
      }
    }

    .socials {
      margin-left: 30px;
      margin-top: 20px;
      font-size: 18px;
      display: grid;
      grid-template-columns: 0.5fr 1fr;

      .link-container {
        justify-self: start;
        display: flex;
        align-items: center;
        cursor: url("../img/hover.svg"), auto;

        .goto {
          opacity: 1;
        }

        .icon {
          font-size: 0.6rem;
          margin-top: 2px;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;

  .container {
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "left right"
      "bottom bottom";

    .social-icon {
      display: flex;
      align-items: center;
      justify-self: center;
      cursor: url("../img/hover.svg"), auto;

      .github {
        grid-area: left;
        width: 20px;
        height: 20px;
        background: url("../img/github.svg");
        background-size: 20px 20px;
      }

      .linkedin {
        grid-area: right;
        width: 20px;
        height: 20px;
        background: url("../img/linkedin.svg");
        background-size: 20px 20px;
      }

      .t {
        margin-left: 10px;
        font-weight: 300;
        font-size: 18px;
      }
    }

    .copyright {
      grid-area: bottom;
      justify-self: center;
      margin-top: 40px;
      font-size: 14px;
      font-weight: 300;
      text-align: center;
      opacity: 0.3;
    }
  }
}

@media (min-width: 767px) {
  html {
    max-width: 1100px;
    margin-left: 92px;
    margin-right: 30px;
  }

  .t1 {
    font-size: 1.3rem;
  }

  .t2 {
    font-size: 0.8rem;
  }

  .bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0px;
    width: 112px;
    border-radius: 0px;

    .socials {
      margin-top: 20px;
      font-size: 14px;
      display: grid;
      grid-template-columns: 90% 30%;
      transform: rotate(-90deg);
      margin-top: 80vh;

      .link-container {
        justify-self: start;
        display: flex;
        align-items: center;
        cursor: url("../img/hover.svg"), auto;

        .goto {
          opacity: 1;
        }

        .icon {
          font-size: 0.6rem;
          margin-top: 2px;
        }
      }
    }
  }

  .landing {
    .container {
      .header {
        font-size: 1.5rem;
        width: 80%;

        .text {
          font-size: 1.2rem;
        }
      }
      .git {
        font-size: 1rem;
      }

      .socials {
        font-size: 0.8rem;
      }
    }
  }

  .tab {
    .tab-container {
      .title {
        font-size: 1.2rem;
      }

      .tags {
        font-size: 0.8rem;
      }

      .socials {
        font-size: 0.8rem;
      }
    }
  }

  .modal {
    .modal-container {
      .t1 {
        font-size: 1.1rem;
        margin-left: 60px;
        margin-right: 60px;
      }

      .t2 {
        margin-left: 60px;
        margin-right: 60px;
        font-size: 0.9rem;
        margin-top: 40px;
        font-size: 0.8rem;
      }

      .socials {
        margin-left: 60px;
        margin-right: 60px;
        font-size: 1rem;
      }
    }
  }
}

@media (min-width: 1100px) {
  html {
    max-width: 3840px;
    margin-left: 30vh;
    margin-right: 20vh;
  }

  .landing {
    .container {
      padding-bottom: 40px;
      .header {
        width: 50%;
      }
      .socials {
        grid-template-columns: 0.8fr 40px 130px;
      }
    }
  }

  .about {
    height: 100vh;
    margin-top: 40px;
    .container {
      .t2 {
        line-height: 1.5;
        width: 67%;
      }

      .me {
        border-left: 2px solid #313131;
        padding-left: 20px;
      }

      .about-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .col {
          padding-right: 40px;

          .t2 {
            width: 100%;
          }
        }
      }
    }
  }

  .works {
    .container {
      .columns {
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        position: relative;

        .left {
          padding-right: 30px;

          .tabs-container {
            grid-template-columns: 1fr;
            align-items: center;

            .tab-code {
              border-bottom: none;
              justify-self: start;
              justify-items: center;
              text-align: start;
              border-right: 1px solid $main;
              padding: 10px 0px;
            }

            .active {
              border-right: 1px solid $second;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .tab {
    .tab-container {
      display: grid;
      grid-template-columns: 1fr 0.7fr;
      grid-template-areas:
        "left right "
        "left bottom "
        "divider divider";

      .p1 {
        grid-area: right;
      }

      .p2 {
        grid-area: left;
        margin-right: 40px;

        .preview {
          margin-top: 0;
        }

        .previews {
          .thumb-left {
            width: 30%;
          }
        }
      }

      .p3 {
        grid-area: bottom;
        .tags {
          margin-top: 0;
        }
      }

      .divider {
        grid-area: divider;
      }
    }
  }

  .modal {
    .modal-container {
      width: 60%;
      margin: 0 auto;

      .preview {
        width: 100%;
        border-radius: 15px;
      }

      .previews {
        .thumb-left {
          width: 20%;
        }
      }

      .socials {
        grid-template-columns: 0.2fr 1fr;
        font-size: 0.8rem;
      }
    }
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 1.5rem;
  }

  .landing {
    .container {
      .header {
        width: 50%;
      }
    }
  }
}

@media (max-height: 600px) {
  .landing {
    .container {
      .socials {
        margin-top: 10vh;
      }
    }
  }
}

@media (max-height: 500px) {
  .line {
    height: 40px;
  }

  .landing {
    .container {
      padding-left: 5vw;
      padding-bottom: 20px;
    }
  }
}

@media (max-height: 350px) {
  .landing {
    .container {
      padding-left: 15vw;
    }
  }
}
